# ignore unnecessary configs

/autostart/*
/btop/*
/dconf/*
/deepin/*
/fontconfig/*
/gtk-2.0/*
/gtk-3.0/*
/htop/*
mimeapps.list
/pulse/*
QtProject.conf
/qutebrowser/*
/redshift/*
Trolltech.conf
user-dirs.dirs
user-dirs.locale
/yay/*

